/* variáveis */
:root {
  --green-50: hsl(141deg 75% 90%);
  --green-100: hsl(141deg 75% 85%);
  --green-100-25: hsl(141deg 75% 80% / 25%);
  --green-200: hsl(141deg 75% 70%);
  --green-300: hsl(141deg 75% 60%);
  --green-400: hsl(141deg 75% 50%);
  --green-400-25: hsl(141deg 75% 50% / 25%);
  --green-500: hsl(141deg 75% 45%);
  --green-600: hsl(141deg 75% 35%);
  --green-700: hsl(141deg 75% 25%);
  --green-800: hsl(141deg 75% 15%);
  --green-800-85: hsl(141deg 75% 15% / 85%);
  --green-900: hsl(141deg 75% 10%);
  --green-950: hsl(141deg 75% 5%);
  --green-1000: hsl(141deg 75% 2.5%);
  --green-1000-50: hsl(141deg 75% 2.5% / 50%);

  --border-radius-xs: 5px;
  --border-radius-s: 10px;
  --border-radius-m: 15px;

  --container-margin: 0 8px 8px;
  --container-padding: 25px;

  --transition-function: ease;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-1000);
  color: var(--green-50);
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

#root {
  height: 100svh;

  display: flex;
  flex-direction: column;
}

/* header */

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link:hover {
  text-decoration: underline;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  gap: 39px;

  padding: 20px;
  margin: 0 10px 10px;
  border-radius: var(--border-radius-m);
  background-image: linear-gradient(
    to bottom,
    var(--green-900),
    var(--green-1000)
  );
}

/* Item List */

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item-list__link {
  text-decoration: none;
}

.item-list__link:hover {
  text-decoration: underline;
}

/* Single Item */

.single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 25px 16px;
  border-radius: var(--border-radius-m);
  transition: background-color 150ms var(--transition-function);
}

.single-item:hover {
  background-color: var(--green-900);
}

.single-item__div-image-button {
  position: relative;
}

.single-item__div-image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.single-item__icon {
  position: absolute;
  right: 7.5px;
  bottom: 7.5px;

  font-size: 50px;
  color: var(--green-400);
  opacity: 0;
  transform: translateY(100%);
  transition-duration: 300ms;
  transition-property: opacity, transform;
  transition-timing-function: var(--transition-function);
}

.single-item:hover .single-item__icon {
  opacity: 1;
  transform: translateY(0);
}

.single-item:hover .single-item__2lines{
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

.single-item__texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-item__title {
  font-weight: 600;
}

.single-item__type {
  font-size: 13px;
}

.single-item__2lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* Artist */

.artist {
  border-radius: var(--border-radius-m);
  margin: 0 10px 10px;
  overflow: hidden;
}

.artist__header {
  --_shade: hsl(0deg 0% 0% / 25%);
  /* Background In-line style */
  height: 37svh;
  background-size: cover;
  background-position-y: 20%;

  display: flex;
  align-items: end;
  padding: 25px;
}

.artist__title {
  font-size: 96px;
}

.artist__body {
  background-image: linear-gradient(
    to bottom,
    var(--green-900),
    var(--green-950)
  );
  padding: 25px 39px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.artist__play {
  position: fixed;
  right: 25px;
  bottom: 25px;

  font-size: 50px;
  color: var(--green-400);
}

/* SongList */

.song-list {
  /* display: flex;
  flex-direction: column; */
}

.song-list__see-more {
  font-weight: 700;
  margin-left: 25px;
  margin-top: 20px;
}

.song-list__see-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* SongItem */

.song-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px 25px;
  border-radius: var(--border-radius-s);
  transition: background-color 200ms var(--transition-function);
}

.song-item:hover {
  background-color: var(--green-800);
}

.song-item__number-album {
  display: flex;
  gap: 25px;
  align-items: center;
}

.song-item__album {
  display: flex;
  gap: 15px;
  align-items: center;
}

.song-item__album p:hover {
  text-decoration: underline;
}

.song-item__image {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-xs);
}
